<div class="absolute mt-6 sm:mt-2 md:-mt-4 lg:inset-y-60 lg:right-48 xl:inset-y-60 xl:right-48">
  <form novalidate [formGroup]="loginForm">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
      <div class="mb-4">
        <label class="block text-grey-darker text-sm font-bold mb-2"> {{'models.user.email' | transloco}} </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
          id="email"
          type="text"
          formControlName="email"
          placeholder="{{'models.user.email' | transloco}}"
        />
      </div>
      <div class="mb-6">
        <label class="block text-grey-darker text-sm font-bold mb-2"> {{'models.user.password' | transloco}} </label>
        <input
          class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3"
          id="password"
          type="password"
          formControlName="password"
          placeholder="{{'models.user.password' | transloco}}"
        />
      </div>
      <div class="flex items-center justify-between">
        <app-button (onClick)="submitForm()" [disabled]="!loginForm.valid">
          {{'globals.save' | transloco }}
        </app-button>
      </div>
    </div>
  </form>
</div>
