<div class="hidden sm:hidden md:hidden lg:block xl:block bg-black h-14">
  <img class="ml-16 py-5" src="./assets/img/logo-pulzo.png" width="91.94px" height="27.3px" />
</div>

<div>
  <img class="w-screen h-auto" src="./assets/img/background.jpg" />
  <img
    class="hidden sm:hidden md:hidden lg:block xl:block lg:-mt-52 lg:ml-48 lg:mb-16 xl:-mt-52 xl:ml-48 xl:mb-16"
    src="./assets/img/logo-pulzo.png"
  />
  <img
    class="hidden sm:block sm:-mt-44 sm:mx-40 md:block md:-mt-60 md:mx-48 md:mb-14 lg:hidden xl:hidden"
    src="./assets/img/logo-pulzo.png"
    style="width: 350px"
  />
  <img
    class="block -mt-20 mx-16 bottom-24 sm:block md:hidden lg:hidden xl:hidden"
    src="./assets/img/logo-pulzo.png"
    style="width: 174px; height: 51"
  />
</div>

<router-outlet></router-outlet>

<app-footer></app-footer>
